.button {
  display: none;
  border: none;
  border-radius: 800px;
  padding: 10px 24px;
  height: 40px;
  background: #0369a1;
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 143%;
  color: #f1f5f9;
}
@media (min-width: 1440px) {
  .button {
    display: flex;
  }
}
