.header {
  border-bottom: 1px solid #94a3b8;
  height: 64px;
}
.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 0;
	margin: 0 auto;
	width: min(calc(100% - 32px), 328px);
}
@media (min-width: 1440px) {
  .header {
    height: 80px;
  }
	.header__container {
    padding: 20px 0;
		width: min(calc(100% - 160px), 1440px);
	}
}
