.phone {
  display: none;
  font-family: "Inter", sans-serif;
  gap: 12px;
  align-items: center;
}
.phone__icon {
  border-radius: 20px;
  padding: 4px;
  width: 40px;
  height: 40px;
  background: #0369a1;
  fill: #ffffff;
  height: 32px;
  width: 32px;
}
.phone__number {
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
  color: #0f172a;
}
.phone__description {
  font-weight: 400;
  font-size: 12px;
  line-height: 133%;
  color: #475569;
}

@media (min-width: 1024px) {
  .phone {
    display: flex;
  }
}
