*,
::before,
::after {
	box-sizing: border-box;
	background-repeat: no-repeat;
}
html,
body {
	margin: 0;
	height: 100%;
}

body {
  font-family: var(--second-family);
  background-color: #ffffff;
  height: 100%;
}
/*
.visible {
  display: block;
}
.invisible {
  display: none;
} */
